<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <% if current_user.present? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Profile</a>
            <div class="dropdown-divider"></div>
            <%= link_to 'Sign out', sign_out_path, class: 'dropdown-item', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign up', sign_up_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign in', sign_in_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
